<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <input type="text" v-model="name"/>
      <p>{{ name }}</p>
      <hr />
      <button v-on:click="increase">Increase</button>
      <button v-on:click="decrease">Decrease</button>
      <p>Counter: {{ counter }}</p>
      <p>Result: {{ result }}</p>
      <hr />
      <button v-on:click="counter++">Increase</button>
      <button v-on:click="counter--">Decrease</button>
      <p>Counter: {{ counter }}</p>
      <p>Result: {{ output }}</p>
      <hr />
      <button v-on:click="changeLink">Click to change link</button>
      <a v-bind:href="link">Link</a>
      <hr />
      <p>Shorthands:</p>
      <button @click="changeLink">Click to change link</button>
      <a :href="link">Link</a>
    </div>
    <script src="index.js"></script>
  </body>
</html>
