<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <h1 v-once>{{ title }} - stays as is even after changes</h1>
      <p>{{ sayHello() }}</p>
      <input type="text" v-on:input="changeTitle">
      <p><a v-bind:href="link">Google</a></p>
      <hr />
      <p v-html="finishedLink"></p>
    </div>
    <script src="index.js"></script>
  </body>
</html>
