<!DOCTYPE html>
<html>
  <head>
    <script src="https://cdn.jsdelivr.net/npm/vue"></script>
  </head>
  <body>
    <div id="app">
      <button v-on:click="increaseCounter(2, $event)">Click me</button>
      <p>{{ counter }}</p>
      <p v-on:mousemove="updateCoordinates">Coordinates: {{ x }}, {{ y }}</p>
      - <span v-on:mousemove.stop>Dead spot</span>
      <br />
      <input type="text" v-on:keyup.enter.space="alertMe">
    </div>
    <script src="index.js"></script>
  </body>
</html>
